<div class="container">
    <div class="row">
        <div class="col-md" style="padding-top: 50px;">
            <ul>
                <li>Col1</li>
                <li>Col2</li>
                <li>Col3</li>
            </ul>
        </div>
        <div class="col-md">
            <div class="container">
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col">Aqui ira el chat :3</div>
                </div>
            </div>

        </div>
        <div class="col-md"></div>
    </div>
</div>